name: updatepo

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          ref: '7.3'

      - name: updatepot
        run: |
          sudo apt-get -q update
          git config --global user.email "bot@opendroid.com"
          git config --global user.name "opd enigma po Bot"
          git config advice.addignoredfile false
          git clean -fd
          git checkout master
          git clone --depth 1 https://github.com/formiano/enigma2-po.git ponew
          cp ponew/po/*.po po/
          rm -rf ponew
          git add -u
          git add * || :
          git commit -m "translation update"
          git remote add upstream https://${GITHUB_TOKEN}@github.com/formiano/enigma2.git > /dev/null 2>&1
          git push --quiet upstream master || echo "failed to push with error $?"
